* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */

}

.logo-img {
    width: 40px;
    height: 45px;
}

.title {
    color: #ffffff;
    font-family: 'Relway';
    font-size: 5em;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    
}

#nav-bar {
    position: sticky;
    z-index:2;
}

#nav-bar ul li a:hover {
    color: rgb(44, 202, 44)!important;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

.form-inline {
    float: right;
}

.carousel-inner .carousel-item img {
    height: 92.7vh;
    
}

