* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */

}

.logo-img {
    width: 40px;
    height: 45px;
}

#nav-bar {
    position: sticky;
    z-index:2;
}

#nav-bar ul li a:hover {
    color: rgb(44, 202, 44)!important;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

.form-inline {
    float: right;
}

.carousel-inner .carousel-item img {
    height: 92.7vh;
    
}